<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
      <link rel="stylesheet" type="text/css" href="/sitemedia/css/common.css">
      <link rel="stylesheet" type="text/css" href="/sitemedia/css/screen.css">
      <title>plottr</title>
   </head>
   <body>
   <div id="hair"><a href="#content">Direkt zum Inhalt.</a></div>
   <div id="header">
      <h1>PLOTTR</h1>
      <ul id="headnavi">
        <li id="about">
          <h3>About</h3>
          <ul class="headnavi_cont">
             <li><a href="/about/">plottr</a></li>
             <li><a href="/about/impressum/">impressum</a></li>
             <li><a href="/about/team/">team</a></li>
          </ul>
          <li id="participate">
          <h3>Participate</h3>
          <ul class="headnavi_cont">
             <li><a href="/dates/submission/">Termin vorschlagen</a></li>
             <li><a href="http://code.plottr.de/">Open Source</a></li>
             <li><a href="/contact/">Contact</a></li>
          </ul>
          <li id="login">
          <h3>Login</h3>
          <div class="headnavi_cont">
            <form name="login" method="post">
              <label for="login">Login:</label><input type="text" name="login" />
              <label for="password">Pass:</label<input type="password" name="password" />
              <input type="submit" />
              <p>Neue Logins werden zur Zeit nur <a href="/contact/">pers&ouml;nlich</a> ausgegeben.</p>
            </form>
          </div>
       </li> 
      </ul>
   </div>
   <div id="infobar"></div>
   <div id="navi">
      <div id="dataset-description">Alle Termine von heute in Bonn-Altstadt</div>
      <!-- this is the fallback form in case js is off -->
      <form name="navi_fallback_form" class="fallback" method="get" action="/dates/redirect/">
        <label for="date">Datum:</label><input type="text" name="date" size="10" maxlength="10"  />  
        <label for="country">Land:</label><input type="text" name="country" size="2" maxlength="2" />  
        <label for="zips">PLZ:</label><input type="text" name="zips" />  
        <input type="submit" />
      </form>

      <div class="widget" id="navi_date">
      <h2>Zeitraum</h2>
      <div id="navi_date_selection" class="selection">Today</div>
      <ul id="navi_date_options">
         <li>All</li>
         <li class="selected">Today</li>
         <li>Tomorrow</li>
         <li><input type="text" id="navi_zips_input" /></li>
      </ul>      
      </div>

      <div id="navi_zips" class="widget">
      <h2>Postleitzahl</h2>
      <div id="navi_zips_selection" class="selection">53111</div>
         <input type="text" id="navi_zips_input" />
      </div>

      <div id="navi_submit" class="widget">
         <h2>Submit</h2>
      </div>
  
   </div>
   <div id="content">
   {% block content %}
      <div id="primary">{% block primary %}{% endblock %}</div> 
      <div id="secondary">{% block secondary %}{% endblock %}</div> 
   {% endblock %} 
   </div>
   <script src="/sitemedia/js/jquery/jquery.js" type="text/javascript" ></script>
   <script src="/sitemedia/js/taffy.js" type="text/javascript" ></script>
   <script src="/sitemedia/js/plotter.js" type="text/javascript" ></script>
   {% block javascript %}{% endblock %} 
</body>
</html>
